* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>main>article>form>fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

h1 {
    margin: 20px;
}

body>main>article>form>fieldset div {
    margin-top: 10px;
    margin-left: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46%;
}

body>main>article>form>fieldset>legend {
    margin-left: 10px;
    font-size: 21px;
    font-weight: bold;
}

body>main>article>form>fieldset {
    margin-left: 65px;
    width: 80%;
    border: 1px solid #ccc;

}


body>main>article>form>fieldset>div.inputBottom {
    margin-bottom: 10px;
    justify-content: flex-start;
    gap: 10px;

}

body>main>article>form>fieldset>div.country>select {
    width: 149px;
    border: 1px solid #ccc;
}

.picture {
    width: 61%;
}



body>main>article>form>fieldset>div.gender>div {
    width: 149px;
}

#languages {
    margin-right: 87px;
    border: 1px solid #ccc;
}

.name input,
.surname input,
.email input {
    border: 1px solid #ccc;
}

body>main>article>form>fieldset>div.fieldOfActivity>div {
    width: 150px;
}

#picture {
    width: 298px;
}